<?xml version="1.0" encoding="UTF-8"?>
<module name="com.oracle.ojdbc" xmlns="urn:jboss:module:1.8">
    <resources>
        <artifact name="${com.oracle.ojdbc:ojdbc8}"/>
    </resources>
    <dependencies>
        <module name="javaee.api"/>
        <module name="sun.jdk"/>
        <module name="ibm.jdk"/>
        <module name="javax.api"/>
        <module name="javax.transaction.api"/>
    </dependencies>
</module>

