<?xml version="1.0" encoding="UTF-8"?>
<module name="org.mariadb.jdbc" xmlns="urn:jboss:module:1.8">
    <resources>
        <artifact name="${org.mariadb.jdbc:mariadb-java-client}"/>
    </resources>
    <dependencies>
        <module name="wildflyee.api"/>
        <module name="org.slf4j"/>
    </dependencies>
</module>

